<% include partials/header %>

<div class="container">
	<header class="jumbotron">
		<h1>Add your own campground!</h1>
	</header>

	<div class="new-camp-form">
		<form action="/" method="POST">

			<div class="form-group">
			  <input type="text" class="form-control" name="name" placeholder="Campground name">				  
			</div>

			<div class="form-group">
				<input type="text" class="form-control" name="img" placeholder="Campground image URL">
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Add now!</button>
			</div>

		</form>
		<a href="/">Go Back</a>
	</div>

</div>

<% include partials/footer %>