body {
	background-color: #232323;
	font-family: 'Cabin', sans-serif;
}

.game-menu {
	background: white;
	padding-left: 26%;
	padding-right: 26%;
	margin: 0 auto;
	height: 60px;
	color: rgb(110, 110, 240);
	font-size: 18px;
}

.menu-item {
	float: left;
	text-transform: uppercase;
}

.menu-left {
	width: 50%;
}

.menu-center {
	width: 50%;
	margin: 0 25%;
	text-align: center;
}

.menu-right {
	width: 50%;
	text-align: right;
}

.menu-section {
	padding-top: 2px;
	padding-bottom: 2px;
	width: 33%;
	float: left;
}

.square {
	width: 30%;
	margin: 1.66%;
	background: yellow;
	padding-top: 30%;
	float: left;
	border-radius: 18px;
}

#container {
	margin: 0 auto;
	width: 50%;
}

.selected {
	background: background: rgb(110, 110, 240);
	color: white;
}

#page-head {
	text-transform: uppercase;
	font-size: 28px;
	background: rgb(110, 110, 240);
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.head-text {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

.right-color {
	font-size: 2.1em;
}