body {
	background-color: #232323;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.game-menu {
	background: white;
	text-align: center;
	height: 30px;
	margin-bottom: 15px;
}

button {
	color: steelblue;
	background: white;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1.1px;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.3s;
}

button:hover {
	background: steelblue;
	color: white;
}

#game-message {
	width: 15%;
}

.square {
	width: 30%;
	margin: 1.66%;
	background: yellow;
	padding-top: 30%;
	float: left;
	border-radius: 18px;
	transition: all 0.5s;
}

#container {
	margin: 0 auto;
	width: 50%;
}

.selected {
	background:steelblue;
	color: white;
}

.page-head {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 200%;
	background: steelblue;
	color: white;
	text-align: center;
	margin: 0;
	line-height: 50px;
	transition: background 0.5s;
}

.right-color {
	font-size: 2.1em;
}